<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Afrolook</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>afrotok</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>Afrolook utilise Face ID pour protéger votre messagerie.</string>
	<key>NSCameraUsageDescription</key>
	<string>Afrolook utilise la caméra pour créer des photos, vidéos et lives.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Afrolook utilise le microphone pour les messages audio et les lives.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Afrolook accède à votre galerie pour partager des photos et vidéos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Afrolook enregistre des médias dans votre galerie.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Afrolook utilise votre position pour afficher du contenu local.</string>
	<key>NSContactsUsageDescription</key>
	<string>Afrolook accède à vos contacts pour vous aider à trouver vos amis.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Afrolook vous envoie des notifications pour les nouveaux messages et likes.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Afrolook utilise votre identifiant publicitaire pour afficher des publicités pertinentes et mesurer leur efficacité.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>afrolookTask</string>
	</array>
</dict>
</plist>
